<style>
        h2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 26px;
            background-color: gold;
        }
        .Chico{
            color: rgb(226, 43, 58);
            font-size: 25px;
        }
        .G{
          font-size: 85px;
        }


    </style>